.keyboardrow div button {
	width: 99%;
	height: 80px;
	border: 2px solid #909090;
	margin-bottom: 8px;
}

.game-on {
	display: none;
}

.game-off {
	display: block;
}

#countCorrect {
	color: #008000;
}

#countWrong {
	color: #FF0000;
}

/* Override */
.col-xs-4, .col-sm-4 {
	padding-left: 1px;
	padding-right: 1px;
}
